:root {
  --text-color: #1a1c20;
  --background-color: #eeeff1;
  --link-color: #4a76ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins" sans-serif;
  background-color: var(--background-color);
  margin: 0 11px;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--text-color);
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  height: 80px;
}

nav .left a {
  color: var(--text-color);
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
}

nav .right a {
  color: var(--text-color);
  font-weight: 700;
  margin: 0 10px;
  font-size: 17px;
}

nav .right a:last-child {
  color: var(--background-color);
  background-color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
}

nav .right a span {
  margin-left: 2px;
}

/* SECTION 1: Hero*/

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin: 50px 0;
  margin-bottom: 60px;
  gap: 45px;
}

.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-section .headshot img {
  width: 300px;
  border-radius: 50%;
}

.hero-section .text {
  flex: 5;
}

.hero-section .text h2 {
  font-size: 35px;
  margin: 6px 0;
}

.hero-section .text .links {
  margin-top: 25px;
  margin-bottom: 100px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--link-color);
  border-radius: 5px;
  margin: 3px;
  margin-bottom: 10px;
  transition: 0.1s;
}

.hero-section .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-section .links a span {
  margin: 4px;
}

/* SECTION 2: Skills */
.skills-section {
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .skills-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .skills-icons .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  width: 150px;
  padding: 0 50px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

.skills-section .skills-icons .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.skills-section .skills-icons .cell span {
  font-size: 18px;
}

/* SECTION 4: Contact  */
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section h2 {
  font-size: 35px;
}

.contact-section .group {
  display: flex;
  gap: 50px;
}

.contact-section .group .text {
  flex: 3;
  margin-top: 20px;
}

.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
  font-family: "Poppins", sans-serif;
  border: 2px solid var(--link-color);
  outline: none;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  resize: none;
}

.contact-section .group form button {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  transition: 0.1s;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: var(--link-color);
}

.contact-section .group form button:hover {
  filter: brightness(0.9);
}

@media (max-width: 850px) {
  /* SECTION 1: Hero   */
  .hero-section .text h2 {
    font-size: 35px;
  }
}

@media (max-width: 756px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section .headshot img {
    width: 300px;
  }

  /* SECTION 3: Contact  */
  .contact-section .group {
    flex-direction: column;
  }
}

@media (max-width: 658px) {
  /* NAVBAR */
  nav {
    padding: 0 20px;
  }

  nav .right a {
    font-size: 22px;
  }

  nav .right a:last-child {
    padding: 0;
    color: var(--text-color);
    background-color: transparent;
  }
  nav .right a span {
    display: none;
  }

  /* SECTION 1: Hero-section */
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text p {
    font-size: 24px;
  }
  .hero-section .text h2 {
    font-size: 30px;
  }

  /* SECTION 2: Skills */
  .skills-section {
    padding: 0 20px;
  }

  .skills-section h2 {
    font-size: 26px;
    margin-bottom: 5px;
  }

  .skills-section .text {
    font-size: 24px;
  }

  .contact-section .group .text {
    font-size: 24px;
  }

  /* SECTION 3: Contact  */
  .contact-section {
    padding: 0 20px;
  }

  .contact-section h2 {
    font-size: 26px;
  }
}
